body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.placeholder {
  margin-top: 10em;
}

.card {
  /*add inline-display*/
  display: inline-block;
}

